.arena {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 90vh;
}

.deck-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hand-col {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
