.board {
  display: grid;
  width: fit-content;
  padding: 0.5rem 9rem 0.5rem 9.25rem;
  background-color: black;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 1fr;
}

.tile-holder > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.back_card {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("../images/card_back_hd.png") no-repeat center center;
  background-size: cover;
}

.txt-info {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  left: 25%;
  bottom: 0;
}

.inverted > img {
  transform: rotate(180deg);
}

.back_card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-holder {
  height: 5rem;
  width: 3.5rem;
}

.user {
  background-color: blue !important;
}

.rival {
  background-color: red !important;
}

.dominion {
  border: 3px solid white;
  transition: border 0.5s;
}

.dominion:hover {
  cursor: pointer;
  border: 3px solid purple;
}
