@keyframes glow {
  from {
    border: 3px solid black;
  }
  to {
    border: 3px solid yellow;
  }
}

.card-holder {
  height: 10rem;
  width: 7rem;
}

.user-border {
  border: 3px solid blue !important;
}

.rival-border {
  border: 3px solid red !important;
}

.selected {
  animation-iteration-count: infinite;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-direction: alternate;
  transition: border 0.5s;
}

.selected:hover {
  border: 3px solid yellow !important;
}
