@keyframes glow {
  from {
    border: 3px solid black;
  }
  to {
    border: 3px solid yellow;
  }
}

.card-holder {
  background: url("../images/card_back_hd.png") no-repeat center center;
  background-size: cover;
  height: 10rem;
  width: 7rem;
}

.no-cover {
  background: #000 !important;
}

.card-holder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-border {
  border: 3px solid blue !important;
}

.rival-border {
  border: 3px solid red !important;
}

.selected {
  animation-iteration-count: infinite;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-direction: alternate;
  transition: border 0.5s;
}

.selected:hover {
  border: 3px solid yellow !important;
}
