:root {
  font-size: 100%;
  --mainText: #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/*
#root,
.bgio-client {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
*/

body {
  background-image: url("../images/back.jpg");
  background-color: #000;
  background-repeat: repeat;
  color: var(--mainText);
  margin: 2rem;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

.hoverable {
  display: flex;
  border: 3px solid black;
  background-color: gray;
  justify-content: center;
  align-items: center;
  transition: border 0.5s;
}

.hoverable:hover {
  cursor: pointer;
  border: 3px solid white;
}

.hidden {
  display: none;
}
