.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

.menu-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-block > button {
  margin-bottom: 2rem;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background-color: blueviolet;
  width: 100%;
  padding: 0.5rem;
}
