.jokenpo-board {
  margin: 5rem;
}

.jokenpo-board,
.jokenpo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jokenpo-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 30%;
  margin-right: 30%;
}

.jokenpo-card > button {
  margin-top: 2rem;
  border-radius: 50%;
  width: 85%;
}

.jokenpo-card > button:hover {
  filter: invert(1);
}

.jokenpo-card > button > img {
  width: 90%;
}
