.board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
.title {
  text-align: center;
}
.container {
  display: flex;
  flex: row;
  flex: 1;
}
.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.center {
  flex: 3;
  background-color: lightcoral;
}
