@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -960px -960px;
  }
}

@keyframes glow {
  from {
    border: 3px solid black;
  }
  to {
    border: 3px solid yellow;
  }
}
