.arena {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 90vh;
}

.deck-col {
  flex-grow: 1;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hand-col {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-col {
  display: flex;
  width: 10%;
  margin-top: 2rem;
  margin-right: 1rem;
  flex-direction: column;
  align-items: center;
}

.status-col {
  display: flex;
  width: 20%;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: beige;
  border: 3px solid rgb(73, 70, 70);
  z-index: 5;
}

.status-col .positive {
  color: green;
}

.status-col .negative {
  color: red;
}
