.button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
}

.quit {
  border-radius: 50%;
  font-weight: bolder;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background-color: red !important;
}

.remove {
  border-color: rgb(121, 10, 10) !important;
  background-color: red !important;
}

.success {
  border-radius: 50%;
  font-weight: bolder;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background-color: green !important;
}
