:root {
  font-size: 100%;
  --mainText: #f8f9fa;
  --jokenpoAnimationTime: 3s;
  --resultAnimationTime: 3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-image: url("../images/back.jpg");
  background-color: #000;
  background-repeat: repeat;
  color: var(--mainText);
  animation: animatedBackground 10s linear infinite;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

.hoverable {
  display: flex;
  border: 3px solid rgb(73, 70, 70);
  background-color: gray;
  justify-content: center;
  align-items: center;
  transition: border 0.5s;
}

.hoverable:not(.disabled):hover {
  cursor: pointer;
  border: 3px solid white !important;
}

.hidden {
  display: none !important;
}

.selected {
  animation-iteration-count: infinite;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-direction: alternate;
  transition: border 0.5s;
}

.selected.this {
  border: 3px solid red !important;
}

.selected:hover {
  border: 3px solid yellow !important;
}

/*TODO: Remove this style when the game reach OPEN State*/
.center,
.locker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.center > * {
  margin-right: 1rem;
}
