.hand {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 5rem;
  width: 100%;
}

.hand .card-holder {
  height: 7.5rem;
  width: 5.25rem;
}

.hand .card-holder:hover {
  transform: translateY(-1.5rem) scale(1.5);
}
