.menu-life-container {
  display: flex;
  position: absolute;
  top: 25%;
  left: 35%;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgb(250, 250, 250, 0.75);
  border: 2px solid grey;
  color: black;
  padding: 1rem;
  width: 25vw;
}

.menu-life-container > *:not(:last-child) {
  margin-bottom: 2rem;
}
