.menu-reveal-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.menu-reveal {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250, 0.75);
  border: 2px solid grey;
  padding: 1rem;
  width: 50vw;
}

.menu-reveal > * {
  margin-bottom: 1rem;
}
