.menu-reveal {
  display: flex;
  color: black;
  flex-direction: column;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250, 0.75);
  border: 2px solid grey;
  padding: 1rem;
  width: 50vw;
}

.menu-reveal > * {
  margin-bottom: 1rem;
}
