.menu-stats-container {
  position: absolute;
  top: 5%;
  left: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 250, 250, 0.75);
  border: 2px solid grey;
  margin-left: 2rem;
}

.menu-stats {
  display: flex;
  height: 70vh;
}

.menu-stats > .column {
  display: flex;
  color: black;
  margin: 1rem;
  flex-direction: column;
}

.column > img {
  height: 100%;
  object-fit: cover;
}

.column > .input-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-stats-container > .button {
  margin: 1rem;
}
