.no-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  width: 80%;
  z-index: 3;
}

.no-input.full {
  width: 100%;
}

.no-input .no-input {
  width: auto;
}
