.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container > input {
  width: 5rem;
  text-align: center;
}

.input-container > button {
  font-weight: bold;
  margin-left: 2rem;
  margin-right: 2rem;
}

.input-container > input::-webkit-outer-spin-button,
.input-container > input::-webkit-inner-spin-button,
.input-container > input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}
