@media (max-width: 1385px), (max-height: 940px) {
  :root {
    font-size: 90%;
  }
}

@media (max-width: 1255px), (max-height: 800px) {
  :root {
    font-size: 80%;
  }

  .board {
    --scale-size: 0.65;
  }
}

@media (max-width: 1125px), (max-height: 700px) {
  :root {
    font-size: 70%;
  }

  .board {
    --scale-size: 0.55;
  }
}

@media (max-width: 1010px), (max-height: 625px) {
  :root {
    font-size: 60%;
  }

  .board {
    --scale-size: 0.45;
  }
}

@media (max-width: 755px), (max-height: 570px) {
  :root {
    font-size: 50%;
  }

  .board {
    --scale-size: 0.35;
  }
}
