.segment {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid rgb(73, 70, 70);
}

.segment > div {
  padding: 0.5rem;
}

.segment > img {
  width: 100%;
  object-fit: cover;
}
.segment:last-child {
  border-bottom: none;
}

.status-segment {
  display: flex;
  height: 100%;
  padding: 0 !important;
}

.stat {
  flex: 1;
  padding: 0.5rem;
  border-right: 3px solid rgb(73, 70, 70);
}
